---
import { AUTHOR } from '../data/site';

const initial = AUTHOR.name.charAt(0);
---
<div class="author-bio">
  <div class="author-bio__avatar">{initial}</div>
  <div>
    <p class="author-bio__name">{AUTHOR.name}</p>
    <p class="author-bio__role">Published by {AUTHOR.name}</p>
  </div>
</div>
