---
import { SITE, NAV_LINKS } from '../data/site';
---
<header>
  <div class="container topbar">
    <a class="brand" href="/"><img class="brand__icon" src="/assets/logo/icon.webp" alt={`${SITE.name} logo`} width="32" height="32" loading="lazy">{SITE.name}</a>
    <nav aria-label="Primary">
      {NAV_LINKS.map(link => (
        <a href={link.href}>{link.label}</a>
      ))}
    </nav>
  </div>
</header>
