---
import { SITE, NAV_LINKS } from '../data/site';
---
<header>
  <div class="container topbar">
    <a class="brand" href="/">
      <span class="brand__name">{SITE.name}</span>
    </a>
    <nav>
      {NAV_LINKS.map(link => (
        <a href={link.href}>{link.label}</a>
      ))}
    </nav>
  </div>
</header>
