---
interface Props {
  pros: string[];
  cons: string[];
}
const { pros, cons } = Astro.props;
---
<div class="pros-cons">
  <div class="pros-cons__col --pros">
    <h4>Pros</h4>
    <ul>
      {pros.map(item => <li>&check; {item}</li>)}
    </ul>
  </div>
  <div class="pros-cons__col --cons">
    <h4>Cons</h4>
    <ul>
      {cons.map(item => <li>&cross; {item}</li>)}
    </ul>
  </div>
</div>
