---
interface Props {
  steps: Array<{
    title: string;
    content: string;
  }>;
}
const { steps } = Astro.props;
---
<ol class="step-list">
  {steps.map((step) => (
    <li class="step-list__item">
      <div class="step-list__number"></div>
      <div class="step-list__content">
        <h3>{step.title}</h3>
        <p>{step.content}</p>
      </div>
    </li>
  ))}
</ol>
